.basicTestComponent {
  color: #236751;
  font-size: 2em;
}

.testContainer {
  display: flex;
  justify-content: center;
  height: 90vh;
  align-items: center;
}

.imageContainer {
  display: flex;
  align-items: center;
}

.spacexx {
  margin-right: 1em;
}
